.gj-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns for team members */
    gap: 60px;
    row-gap: 40px;
    padding: 20px;
    padding-left: 0px;
    width: 80%;
    margin: 0 auto; /* Center horizontally */
    justify-content: center; /* Center grid items horizontally */
    margin-top: 60px;
    margin-bottom: 150px;
}

.gj-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 100%;
    height: auto; /* Height depends on the width */
    aspect-ratio: 1 / 1;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    background-color: #f9f9f9;
    transition: transform 1.0s ease, box-shadow 1.0s ease; /* Smooth transition for hover effect */
    display: flex; /* Enables flexbox */
    flex-direction: column; /* Stacks children vertically */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Center text horizontally */
}

.gj-card-bg-1 {
    background-image: url('../img/国窖1573.jpg');
    background-size: cover; /* Ensure the image covers the entire card */
    background-position: center; /* Center the image */
    background-image: url('../img/国窖1573.jpg');
}

.gj-card-bg-2 {
    background-image: url('../img/zgpw2.png');
    background-size: cover;
    background-position: center;
}

.gj-card-bg-3 {
    background-image: url('../img/568.jpg');
    background-size: cover;
    background-position: center;
}


.gj-card:hover {
    transform: scale(1.25); /* Slightly scale up the card */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); /* Deeper shadow on hover */
}

.gj-card h2 {
    margin-top: 0;
    font-weight: bold;
    font-size: 38px;
    color: #ffffff;
}
.gj-card a {
    text-decoration: none; /* Removes the underline */
}


.gj-card .title, .gj-card .time {
    color: #ffffff;
    font-size: 24px;
    
}
.gj-card .time {
    font-weight: bold;
}
.gj-card h2, .gj-card .title, .gj-card .time {
    text-shadow: 10px 10px 20px rgba(0,0,0,0.8),-10px -10px 20px rgba(0,0,0,0.8);
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .gj-container {
        grid-template-columns: 1fr; /* One column for smaller screens */
        max-width: 300px;
        margin-top: 150px;
    }
}
.gj-card {
    text-decoration: none; /* Removes the underline from links */
}

.gj-card:hover {
    text-decoration: none; /* Ensures that the underline doesn't reappear on hover */
}

.gj-card h2, .gj-card .title, .gj-card .time {
    text-decoration: none; /* Specifically ensures text within the card has no underline */
}


.gj-header {
    grid-column: 1 / -1; /* Span across all columns in the first row */
    text-align: center;
    margin-bottom: 0px;
    border-bottom: 6px solid #b0b0b0;

}

.gj-title {
    font-size: 48px; /* Large font size for the title */
    color: #ffffff; /* Title color */
    margin-bottom: 0px; /* Space between title and description */
}

.gj-description {
    font-size: 30px; /* Suitable size for the description */
    color: #ffffff; /* Description color */
    font-style: italic;
}