.Home {
    display: flex;
    flex-direction: column;
  }
  
body {
    margin: 0;
    margin-top: 40px; /* Adjust the gap between Header and Body */
  }
  @media (max-width: 1137px) {
    body {
        margin-top: 60px; /* Adjust this value if your header is shorter on smaller screens */
    }
  }
  @media (max-width: 577px) {
    body {
        margin-top: 70px; /* Adjust this value if your header is shorter on smaller screens */
    }
  }
  @media (max-width: 560px) {
    body {
        margin-top: 90px; /* Adjust this value if your header is shorter on smaller screens */
    }
  }
  @media (max-width: 346px) {
    body {
        margin-top: 105px; /* Adjust this value if your header is shorter on smaller screens */
    }
  }
  @media (max-width: 310px) {
    body {
        margin-top: 125px; /* Adjust this value if your header is shorter on smaller screens */
    }
  }


