.zsdq-container {
    width: 100%;
    margin-top: auto;
}
.zsdq-responsive-image{
    margin-bottom: 30px;
}

.zsdq-responsive-image img{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.zsdq-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 50px;
    margin-bottom: 100px;
}

.zsdq-column {
    display: flex;
    flex-direction: column;
}

.zsdq-image-box {
    width: 90%;
    height: auto; /* Height depends on the width */
    aspect-ratio: 1 / 1.5;
    background-image: url('../img/紫砂1.png'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
}

.zsdq-half-column {
    flex: 1;
}

.zsdq-column p{
    color: #333;
    font-size: 18px;
}

/* Responsive adjustments */
@media (max-width: 500px) {
    .zsdq-grid {
        grid-template-columns: 1fr;
    }
    .zsdq-responsive-image img{
        margin-top: 90px;
    }
}
